{{ partial "header.html" . }}

<section class="container contact">
    {{ .Content }}

    <div class="columns">
        <div class="column">
            <p>
                <h2 class="nomargin">Contact:</h2>
                U kunt via het onderstaande formulier contact met ons opnemen.
            </p>
            <form class="form" method="POST" action="https://formspree.io/f/mgvwlbrb">
                <div class="form__section form__section__name">
                    <label for="name" class="form__section__label">Naam:</label>
                    <div class="form__section__input">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </div>
                            <input id="name" name="name" placeholder="Naam" type="text" autofocus="true" required="required" class="form__section__input__area">
                        </div>
                    </div>
                </div>
                <div class="form__section form__section__mail">
                    <label for="email" class="form__section__label">E-mail:</label>
                    <div class="form__section__input">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <input id="email" name="email" placeholder="mail@mail.nl" type="text" required="required" class="form__section__input__area">
                        </div>
                    </div>
                </div>
                <div class="form__section form__section__message">
                    <label for="message" class="form__section__label">Bericht:</label>
                    <div class="form__section__input">
                        <textarea id="message" name="message" cols="40" rows="10" placeholder="Bericht" required="required" class="form__section__input__area"></textarea>
                    </div>
                </div>
                <div class="form__section form__section__button">
                    <button name="submit" type="submit" class="button">Verstuur</button>
                </div>
                <div class="form__section__disclaimer">
                    <p><small>(Maakt gebruik van Formspree</a>)</small></p>
                </div>
            </form>
        </div>
        <div class="column">
            <p>
                <h2 class="nomargin">Locatie:</h2>
                Top 1<br>
                8606 JT Sneek
            </p>
            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5707.595115767295!2d5.683941524450346!3d53.02489224219783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c8f1a412cfbccf%3A0xbc833f9d0d031368!2sScoutingcentrum%20Sneek%20-%20Greate%20Pier%20%26%20Tibrag!5e0!3m2!1sen!2snl!4v1725520101528!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}