@use '../util' as *;

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: rem(25);

    @include breakpoint(large) {
    }
}

.column {
    flex: 1 0 rem(360);
    background-color: var(--accent-background);
    border-radius: rem(5);
    box-shadow: 0 10px 15px 0 var(--shadow);
    padding: rem(10);
    min-height: rem(200);
}