@use '../util' as *;

.header {
    grid-area: header;
}

// navigatie (achtergrond) element
.nav {
    top: 0;
    width: 100%;
    min-height: rem(80);
    background: var(--background);
    text-align: left;
    line-height: 30px;

    @include breakpoint(medium) {
        padding: 0 rem(40) 0 rem(40);
    }

    // scouting logo container
    &__logo {
        display: block;
        max-height: rem(80);
        width: fit-content;
        z-index: 1000;

        @include breakpoint(medium) {
            position: absolute;
        }

        // scouting logo afbeelding
        img {
            top: rem(-0);
            max-width: inherit;
            max-height: rem(80);

            // verandering voor groter scherm:
            @include breakpoint(medium) {
                max-height: rem(120);
            }
        }
    }

    // main navigatie menu
    &__menu {
        display: grid;
        width: 100%;
        min-height: rem(80);
        padding-left: rem(25);
        margin: auto;
        position: relative;
        grid-gap: rem(15);
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        justify-content: stretch;
        list-style: none; // geen markers
        align-items: center;
        border-bottom: 1px solid var(--text-color2);

        // verandering voor groter scherm:
        @include breakpoint(medium) {
            display: grid;
            padding: 0; // geen maker-padding
            grid-template-rows: 1fr;
            grid-template-columns: auto 1fr repeat(4, max-content);
            border-bottom: none;

            // start menu rechterkant
            > :first-child {
                grid-column: 3;
            }
        }

        // navigatie link (tekst)
        a {
            display: inline-block;
            width: 100%;
            font-size: 1em;
            color: var(--light-bg);
            color: var(--light-bg-accent);
            cursor: pointer;

            // muis erop of tab target
            &:hover,
            &:focus-visible,
            &:active {
                color: var(--light-text-accent);
                text-decoration: none;
            }

            @supports not selector(:focus-visible) {
                &:focus {
                    color: var(--light-text-accent);
                    text-decoration: none;
                }
            }
        }
    }

    &__mobile-burger {
        display: none;
        opacity: 0;
        top: 0;
        right: 0;
        padding: rem(20);
        position: absolute;
        font-size: rem(40);
        font-weight: 900;
    }

    // menu element met onderliggend menu
    &__dropdown {
        position: relative;
        //cursor: pointer;
    }

    // het onderliggende menu
    &__submenu {
        display: block;
        background: var(--background);
        padding-left: rem(25);

        //verandering voor groter scherm:
        @include breakpoint(medium) {
            display: none; // anders knippert menu bij refresh
            padding-top: rem(5);
            left: rem(0);
            padding-left: rem(0);
            position: absolute;
            z-index: 1000;
        }

        // de lijst in het submenu
        ul {
            display: grid;
            // max-width: rem(300);
            // min-width: rem(250);
            padding-left: 0; //padding around submenu (top, right, bot, left)
            grid-gap: rem(0);
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            align-content:center;
            list-style: none;
            text-wrap: nowrap;

            // de linkjes in de lijst
            li {
                a {
                    width: 100%;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;

                    @include breakpoint(medium) {
                        padding-block: rem(5);
                    }
                }
            }
        }
    }
}