@use '../util' as *;

.header {
    grid-area: header;
}

// navigatie (achtergrond) element
.nav {
    position: fixed;
    background: var(--background);
    width: 100%;
    text-align: left;
    line-height: 30px;
    padding: 0 rem(40) 0 rem(40);
    height: rem(80);

    // scouting logo container
    &__logo {
        // scouting logo afbeelding
        img {
            top: rem(-0);
            position: absolute;
            max-width: inherit;
            max-height: rem(80);
            
            // verandering voor groter scherm:
            @include breakpoint(medium) {
                max-height: rem(120);
            }
        }
    }

    // main navigatie menu
    &__menu {
        display: grid;
        height: 100%;
        margin: auto;
        position: relative;
        width: 100%;
        grid-gap: rem(10);
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        justify-content: stretch;
        list-style: none; // geen markers
        padding: 0; // geen maker-padding
        align-items: center;

        // verandering voor groter scherm:
        @include breakpoint(medium) {
            grid-template-rows: 1fr;
            grid-template-columns: auto 1fr repeat(4, max-content);

            // logo
            > :first-child {
                justify-self: start;
                grid-column: 1;
            }

            // eerste tekst item van de navigatie
            > :nth-child(2) {
                grid-column: 3;
            }

            > :nth-child(n+2) {
                justify-self: end;
            }
        }

        // navigatie link (tekst)
        a {
            padding-left: rem(10); //padding around submenu (top, right, bot, left)
            font-size: 1em;
            color: var(--light-bg);
            display: inline-block;
            width: 100%;
            color: var(--light-bg-accent);

            // muis erop of tab target
            &:hover, &:focus-visible {
                color: var(--light-text-accent);
                text-decoration: none;
            }
            @supports not selector(:focus-visible) {
                &:focus {
                    color: var(--light-text-accent);
                    text-decoration: none;
                }
            }
        }
    }

    // menu element met onderliggend menu
    &__dropdown {
        position: relative;
        cursor: pointer;
        // overflow: hidden;
    }

    // het onderliggende menu
    &__submenu {
        background: var(--background);

        //verandering voor groter scherm:
        @include breakpoint(medium) {
            position: absolute;
            z-index: 1000;
            left: rem(0);
            margin-top: rem(-3);
            display: none; // anders knippert menu bij refresh
        }
    }
    // items in de navigatie (waar de tekst in zit)
    &__item {
        display: inline;
    }

    // de lijst in het submenu
    &__submenu > ul {
        display: grid;
        grid-gap: 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        list-style: none;
        max-width: rem(300);
        min-width: rem(250);
        text-wrap: nowrap;
        padding: rem(15) rem(10) rem(0) rem(0); //padding around submenu (top, right, bot, left)
 
        // de linkjes in het submenu
        > li {
            a {
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
                display: inline-block;
                width: 100%;
                padding-bottom: rem(10);
            }
        }
    }
}

// Screen reader text (voor slechtzienden)
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

// Screen reader (voor slechtzienden)
.screen-reader-text:hover, .screen-reader-text:active, screen-reader-text:focus {
    background-color: #c7c6c6;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.6);
    clip: auto !important;
    color: #0a153f;
    display: block;
    font-size: 1em;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
}