@use "../util" as *;

.quicklinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
  gap: rem(25);

  .quicklink {
    flex: 1 0 rem(360);
    background-color: var(--accent-background);
    border-radius: rem(15);
    box-shadow: 0 10px 15px 0 var(--shadow);
    padding: 0;
    max-width: rem(210);
    aspect-ratio: 1/1.5;
    overflow: clip;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.05);
    }
    &_header {
      display: flex;
      height: 45%;
      background-color: var(--inverse-accent-background);
      color: var(--accent-color);
      padding: rem(10);
      align-items: center;
      justify-content: center;
      b {
        position: absolute;
      }
      p {
        color: var(--text-color);
        font-size: rem(100);
      }
    }
    &_content {
      padding: rem(10);
      background-color: var(--accent-background);
      font-size: rem(18);
      color: var(--text-color);
      text-align: center;
    }
  }

  @include breakpoint(large) {
  }
}

// .columns.column-fit > .column {
//   height: fit-content;
// }
