:root {
  --dark-background: hsl(130, 26.09%, 9.02%);
  --light-background: hsl(130, 13.04%, 90.02%);
  --accent-dark-background: hsl(140, 26.09%, 13.02%);
  --accent-light-background: hsl(130, 26.09%, 100%);
  --dark-shadow: hsl(0, 0%, 8.7%);
  --light-shadow: hsl(0, 0%, 80%);
  --dark-green: hsl(131.74, 29.11%, 30.98%);
  --green: hsl(97.6, 32.47%, 45.29%);
  --light-green: hsl(77.89, 51.35%, 56.47%);
  --red: hsl(358.97, 46.61%, 50.78%);
  --blue: hsl(160, 21.89%, 45.69%);
  --orange: hsl(28.26, 87.57%, 65.29%);
  --yellowish: hsl(50.27, 83.46%, 73.92%);

  // dark mode
  &[data-darkmode="enabled"],
  &:has(.switch__input:checked) {
    --background: var(--dark-background);
    --accent-background: var(--accent-dark-background);
    --shadow: var(--dark-shadow);
    --text-color: var(--light-background);
    --accent-color: var(--green);
    --dark-accent: var(--dark-green);
    --light-accent: var(--light-green);
    --link: var(--red);
    --visited: var(--blue);
  }

  // light mode
  --background: var(--light-background);
  --accent-background: var(--accent-light-background);
  --shadow: var(--light-shadow);
  --text-color: var(--dark-background);
  --accent-color: var(--green);
  --dark-accent: var(--dark-green);
  --light-accent: var(--light-green);
  --link: var(--red);
  --visited: var(--blue);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: var(--dark-background);
//     --text-color: var(--light-background);
//     --accent-color: var(--green);
//     --dark-accent: var(--dark-green);
//     --light-accent: var(--light-green);
//     --link: var(--red);
//     --visited: var(--blue);
//   }
// }
