@use "../util" as *;

html {
  text-align: left;
  text-justify: inter-word;
}

h1,
h2,
h3 {
  margin-block: rem(5);
}

h1 {
  font-size: rem(24);
  margin-bottom: rem(3);
  color: var(--accent-color);
  @include breakpoint(large) {
    font-size: rem(28);
  }
}

h2 {
  margin-top: rem(25);
  font-size: rem(24);
  color: var(--text-color);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a {
  color: var(--red);
  &:focus,
  &:hover {
    color: var(--blue);
  }
}
