<header class="header">
  {{- $image_name := "tibrag-logo-pill-darkmode.svg" }}
  {{- $banner_name := "Tibrag-Logo-leeg-doorzichtig.svg" }}
  {{- $page := .page }}
  {{- $menuID := .menuID }}
  {{- $image_light := resources.GetMatch "**/tibrag-logo-pill-lightmode.svg" }}
  {{- $image_dark := resources.GetMatch "**/tibrag-logo-pill-darkmode.svg" }}
  {{- $banner := resources.GetMatch (printf "%s%s" "**/" $banner_name) }}
  {{- $home := $page.Site.BaseURL }}

  {{- with index site.Menus $menuID }}
    <menu class="nav no-transition">
      <a class="screen-reader-text visually-hidden" href="#main">Direct naar inhoud</a>

      <!-- Hidden checkbox for menu toggle -->
      <input type="checkbox" id="mobile-menu-toggle" class="nav__menu-checkbox" hidden>

      <li class="nav__logo nav_item noselect">
        <a href="{{ $home }}">
          <img class="logo-light" src="{{ $image_light.RelPermalink }}" alt="Start">
          <img class="logo-dark" src="{{ $image_dark.RelPermalink }}" alt="Start">
        </a>
      </li>

      <!-- Hamburger label (replaces the <a> tag) -->
      <label for="mobile-menu-toggle" class="nav__mobile-burger noselect">
        <span>☰</span>
      </label>

      <ul class="nav__menu">
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        <li class="nav__item nav__item__childless nav-darkmode-toggle"></li>
      </ul>

      {{ partial "toggle.html" (dict "menuID" "main" "page" .) }}
    </menu>
  {{- end }}
  
  {{- define "partials/inline/menu/walk.html" }}
    {{- $page := .page }}
    {{- range $index, $element := .menuEntries }}
      {{- $attrs := dict "href" $element.URL }}
      {{- if $page.IsMenuCurrent $element.Menu $element }}
        {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
      {{- else if $page.HasMenuCurrent $element.Menu $element}}
        {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
      {{- end }}
      {{- $name := $element.Name }}
      {{- with $element.Identifier }}
        {{- with T . }}
          {{- $name = . }}
        {{- end }}
      {{- end }}
      {{ if $element.HasChildren }}
        <li class="nav__dropdown nav_item">
          <!-- FIX #3: Use unique ID with index -->
          <input type="checkbox" id="dropdown-{{ $element.Identifier }}-{{ $index }}" class="nav__dropdown-checkbox" hidden>
          <label for="dropdown-{{ $element.Identifier }}-{{ $index }}">{{ $name }}</label>
          {{- with $element.Children }}
            <div class="nav__submenu">
              <ul class="">
                {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
              </ul>
            </div>
          {{- end }}
        </li>
      {{ else }}
        <li class="nav__item nav__item__childless">
          <a {{- range $k, $v := $attrs }} {{- with $v }} {{- printf " %s=%q" $k $v | safeHTMLAttr }} {{- end }} {{- end -}}>
            {{ $name }}
          </a>
        </li>
      {{ end }}
    {{- end }}
  {{- end }}
</header>