<label class="switch">
	<input class="switch__input" type="checkbox" role="switch" />
	<span class="switch__icon">
		<span class="switch__icon-part switch__icon-part--1"></span>
		<span class="switch__icon-part switch__icon-part--2"></span>
		<span class="switch__icon-part switch__icon-part--3"></span>
		<span class="switch__icon-part switch__icon-part--4"></span>
		<span class="switch__icon-part switch__icon-part--5"></span>
		<span class="switch__icon-part switch__icon-part--6"></span>
		<span class="switch__icon-part switch__icon-part--7"></span>
		<span class="switch__icon-part switch__icon-part--8"></span>
		<span class="switch__icon-part switch__icon-part--9"></span>
		<span class="switch__icon-part switch__icon-part--10"></span>
		<span class="switch__icon-part switch__icon-part--11"></span>
	</span>
	<span class="switch__sr">Dark Mode</span>
</label>